@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Firmpay </h1>
    <p>Employee Payroll Solutions For The Enterprise <a href="https://firmtechsolution.com">Developed by FirmTech Solutions</a>.</p>
</div>
